html, body {
	height: 100%;
	margin: 0px;
}

.container-fluid {
	padding: 0;
}

.col-md-5 {
	padding: 0;
	background-color: #EA696D;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.col-md-7 {
	padding: 0;
}

.row {
	height: 100%;
}

.createProfileForm {
	position: relative;
	margin-left: 15%;
	width: 60%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

label {
	font-size: 20px;
}

.form-control {
	width: 100%;
	border: 1px solid black;
	border-radius: 4px;
}
#chooseFile{
	margin-top: 5px;
}
input[type="file"]{
	color:#EA696D;
	font-size: 16px;
}
#create_btn {
	width: 120px;
	margin-top: 15%;
	margin-left: 80%;
	background-color: #EA696D;
	border-radius: 25px;
	color: white;
}