html, body {
	height: 100%;
	margin: 0px;
}

.container-fluid {
	padding: 0;
}

.col-md-5 {
	padding: 0;
	background-color: #EA696D;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.col-md-7 {
	padding: 0;
}

.row {
	height: 100%;
}
.teamInitializationForm {
	position: relative;
	margin-left: 15%;
	width: 60%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
h1{
	margin-bottom: 10%;
}
label {
	font-size: 20px;
}

.form-control {
	width: 100%;
	border: 1px solid black;
	border-radius: 4px;
}
#selectCourse{
	margin-bottom:5%;
}
#chooseCapacity{
	margin-bottom:5%;
}
#expectedSkills{
	margin-bottom:5%;
}
#ownedSkills{
	margin-bottom:5%;
}
#teamcap {
	text-align: center;
	width: 60px;
	font-size: 15px;
	color: #000;
	font-weight: 300;
}

#min {
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	color: #000;
	background: #fff;
}

#plus {
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	color: #000;
	background: #fff;
}

#init_btn {
	width: 120px;
	margin-top: 15%;
	margin-left: 80%;
	background-color: #EA696D;
	border-radius: 25px;
	color: white;
}

.form-check-label {
	cursor: pointer;
}