	html, body{
		height: 100%;
	    margin: 0px;
	}
	.container-fluid{
		padding: 0;
	}
	.col-md-5{
		padding: 0;
		background-color: #EA696D;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
	}
	.col-md-7{
		padding: 0;
	}
	.row {
	    height: 100%;
	}
	.SignInForm{
		position: relative;
		margin-left: 15%;
		width:60%;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.form-control{
		width: 100%;
		border: 1px solid black;
		border-radius: 4px;
	}
	.signInTitle{
		margin-bottom: 15%;
		text-align:center
	}
	label{
		font-size: 20px;
	}
	input{
		margin-bottom: 10%;
	}
	#login_btn{
		width: 120px;
		margin-left: 80%;
		background-color: #EA696D;
		border-radius: 25px;
		color: white;
	}
	.errorTips{
		margin-bottom: 10%;
	}
	.registLink{
		font-size: 16px;
		margin-bottom: 10%;
	}
	a:link{
		text-decoration: underline;
	}