body{
	background-color:#FFFFFF;
}
/* .other-teams-title {
    margin: 20px 0 15px 0;
} */

h3{
	color:#7D91E0;
}
#filterForOther{
	text-align:center;
}
#infoRow{
	margin-top:5%;
}
#ownedSkills{
	margin-top:30%;
}
.form-check-label{
	font-size:20px;
	
}
.card{
	margin-bottom:3%;
}
.other-teams-item {
    height: 520px;
    overflow-y: auto;
    margin-top:5%;
}
ul{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	display: table;
    table-layout: fixed;
}
ul li {
    display: table-cell;
}
.card-header{
	background-color:rgba(125,145,224,0.1);
	font-weight:bold;		
}
.other-teams-item{
	margin-bottom:10%;
}
#skillsTile{
	color:#EA696D;
}
#specificSkills{
	font-size:16px;
	margin-right: 10px;
	margin-top:10px;
}
#teamDescription{
	width: 30%;
}
#teamMember{
	width:40%;
}
.tagsFix{
	width:30%;
}
.search-box{
    margin: 10px 0;
}
.my-search-tag{
    width: 220px;
    display: inline;
    vertical-align: bottom;
}
.form-check-label{
	cursor: pointer;
}

.badge .badge-outlined {
  background-color: transparent
}
#mergeRequestBtn{
	margin-left:20px;
	background-color:#EA696D;
	color:#FFFFFF;
	border-radius: 25px;
}