html, body{
        height: 100%;
        margin: 0px;
    }
    .container-fluid{
    	padding: 0;
    }
    .col-md-5{
    	padding: 0;
    	background-color: #7D91E0;
    	display: flex;
  		align-items: center;
  		justify-content: center;
  		color: white;
    }
    .col-md-7{
    	padding: 0;
    }
    .row {
        height: 100%;
    }
	.SignUpForm{
		position: relative;
		margin-left: 15%;
		width:60%;
		top: 50%;
  		-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%);
	}
	.pwdTips{
		font-size: 12px;
		color: gray;
	}
	.securityQ{
		color: #5e5fb7;
		font-weight: bold;
	}
	label{
		font-size: 20px;
	}
	.form-control{
		width: 100%;
		border: 1px solid black;
  		border-radius: 4px;
	}
	input{
		margin-bottom: 10%;
	}
	.registerTitle{
		margin-bottom: 15%;
		text-align:center
	}
	#Questions_Title{
		margin-top: 20%;
	}
	.Set_security_Q{
		font-size: 18px;
		color: #5e5fb7;
		font-weight: bold;
	}
	#signup_btn{
		width: 120px;
		margin-top: 10%;
		background-color: #7D91E0;
		border-radius: 25px;
		color: white;
	}
	#cancel_btn{
		width: 120px;
		margin-top: 10%;
		background-color: #EA696D;
		border-radius: 25px;
		color: white;
	}
	.outer{
		width:100%;
		display: flex;
  		justify-content: space-between; /* not center */
  		align-items: center;
	}
	.inner
	{
    	display: inline-block;
	}