	html, body{
        height: 100%;
        margin: 0px;
    }
    .row {
        height: 100%;
    }
	.container-fluid{
    	padding: 0;
    }
    .col-md-5{
    	padding: 0;
    	background-color: #EA696D;
    	display: flex;
  		align-items: center;
  		justify-content: center;
  		color: white;
    }
    .col-md-7{
    	padding: 0;
    }
	.resetPwdForm{
		position: relative;
		margin-left: 15%;
		width:60%;
  		top: 50%;
  		-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%);
	}
	.resetPwdTitle{
		text-align:center;
	}
	.resetSid{
		text-align:center;
		margin-bottom: 15%;
	}
	.pwdTips{
		font-size: 12px;
		color: gray;
		width: 80%;
	}
	label{
		font-size: 20px;
	}
	input{
		margin-bottom: 10%;
	}
	.form-control{
		width: 100%;
		border: 1px solid black;
  		border-radius: 4px;
	}
	#restPwd_btn{
		width: 120px;
		margin-top: 10%;
		margin-left: 80%;
		background-color: #EA696D;
		border-radius: 25px;
		color: white;
	}