body{
		background-color:white;
	}
	form{
		margin-top:5%;
	}
	h1{
		color: #7D91E0;
		margin-bottom:5%;
	}
	#avatar{
		margin-top:10%;
		font-size:14px;
		width:80%;
	}
	#teamCapacity{
		margin-bottom:10%;
	}
	#teamDescription{
		margin-bottom:10%;
	}
	.fa-graduation-cap{
		color:#EA696D;
		font-size: 24px;
	}
	#update_btn{
		width: 120px;
		margin-top: 15%;
		background-color: #7D91E0;
		border-radius: 25px;
		color: white;
	}
	#cancel_btn{
		width: 120px;
		margin-top: 15%;
		background-color: #EA696D;
		border-radius: 25px;
		color: white;
	}
	.outer{
		width:100%;
		display: flex;
  		justify-content: space-between; /* not center */
  		align-items: center;
	}
	.inner
	{
    	display: inline-block;
	}