body{
		background-color:white;	
	}
.row{
		margin-top:5%;
	}
h2{
		color: #7D91E0;
		margin-bottom:5%;
	}
.card{
		margin-bottom:8%;
	}
.card-header{
		background-color:rgba(125,145,224,0.6);
		color:white;
	}
.btn{
		background-color: #7D91E0;
		border-radius: 25px;
		color: white;
	}